extends ./layouts/main.jade

block body
	#container
		//
			2. You can load a template in many ways. For convenience, we'll include it in a script tag so that we don't need to mess around with AJAX or multiline strings. Note that we've set the type attribute to 'text/ractive' - though it can be just about anything except 'text/javascript'
		script#template(type='text/ractive').
			<p>Hello, {{name}}!</p>